body {
  padding: 10px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.icon {
  display: inline-block;
  background-size: cover;
  width: 20px;
  height: 20px;
}

#header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.item {
  background-color: #fff;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 340px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.item .text {
  max-width: 270px;
  flex: 1;
}

/* Icons */

.icon-minimize {
  background-image: url(./images/icons/minimize-2.svg);
}

.icon-minimize:hover {
  background-image: url(./images/icons/minimize-2-blue.svg);
}

.icon-exit {
  background-image: url(./images/icons/x.svg);
}

.icon-exit:hover {
  background-image: url(./images/icons/x-red.svg);
}

.icon-clipboard {
  background-image: url(./images/icons/clipboard.svg);
}

.icon-clipboard:hover {
  background-image: url(./images/icons/clipboard-green.svg);
}

.icon-delete {
  background-image: url(./images/icons/trash-2.svg);
}

.icon-delete:hover {
  background-image: url(./images/icons/trash-2-red.svg);
}

.icon-delete-all {
  background-image: url(./images/icons/delete.svg);
}

.icon-delete-all:hover {
  background-image: url(./images/icons/delete-white.svg);
}

/* Icons End */
